
body {
   background: #f8f8f8;
}
h1 {
   text-align: center;
   color: blue;
   margin: 2rem;
}
p {
   text-align: justify; 
   margin: 2rem;
}
#parag-1 {
   color: white;
   background-color: black;
   text-decoration: line-through;

}
ul {
   
   text-decoration: none;
}

li {
   
margin: 2rem;
}

a {
   background: red;
   color: white;
   padding: 1rem;
   border-radius: 2rem;
   text-decoration: none;
   margin: 1rem;
}
a:hover {
   background-color: yellow;
   transition: 1000ms;
}
/* comentário*/